<app-nav-bar></app-nav-bar>
<div class="container">

  <form #addCar="ngForm" *ngIf="!isCompleted">
    <div class="row main">
      <div class="main-login main-center">
        <h5>Add New Car to your account</h5>

        <div class="form-group">
          <label class="cols-sm-2 control-label">Brand</label>
          <div class="cols-sm-10">
            <div class="input-group">

              <input type="text" class="form-control" name="brand" required pattern="^\s*[\w]+[\s\w\W]*$" [(ngModel)]="addCarModel.brand"
                #brand="ngModel" />
              <div *ngIf="brand.invalid && (brand.dirty || brand.touched)" class="label label-danger field-validation-error">

                <div *ngIf="brand.errors.required">
                  Brand is required.
                </div>
                <div *ngIf="brand.errors.pattern">
                  Brand is required.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="cols-sm-2 control-label">Car Number</label>
          <div class="cols-sm-10">
            <div class="input-group">

              <input type="text" class="form-control" name="car_number" required pattern="^\s*[\w]+[\s\w\W]*$"
                [(ngModel)]="addCarModel.car_number" #carNumber="ngModel" />
              <div *ngIf="carNumber.invalid && (carNumber.dirty || carNumber.touched)" class="label label-danger field-validation-error">

                <div *ngIf="carNumber.errors.required">
                  Car Number is required.
                </div>
                <div *ngIf="carNumber.errors.pattern">
                  Car Number is required.
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label class="cols-sm-2 control-label">Model</label>
          <div class="cols-sm-10">
            <div class="input-group">

              <input type="text" class="form-control" name="model" required pattern="^\s*[\w]+[\s\w\W]*$" [(ngModel)]="addCarModel.model"
                #model="ngModel" />
              <div *ngIf="model.invalid && (model.dirty || model.touched)" class="label label-danger field-validation-error ">

                <div *ngIf="model.errors.required">
                  Model is required.
                </div>
                <div *ngIf="model.errors.pattern">
                  Model is required.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="cols-sm-2 control-label">Number of Seats</label>
          <div class="cols-sm-10">
            <div class="input-group">

              <input type="text" class="form-control" name="number_of_seats" required pattern="[+0-9]*" [(ngModel)]="addCarModel.number_of_seats"
                #seats="ngModel" />
              <div *ngIf="seats.invalid && (seats.dirty || seats.touched)" class="label label-danger field-validation-error">

                <div *ngIf="seats.errors.required">
                  Number of seats is required.
                </div>

                <div *ngIf="seats.errors.pattern">
                  Number of seats should be only digits.
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="form-group">
          <label class="cols-sm-2 control-label">Rate</label>
          <div class="cols-sm-10">
            <div class="input-group">

              <input type="text" class="form-control" name="rate" required pattern="[+0-9]*" [(ngModel)]="addCarModel.rate"
                #rate="ngModel" />
              <div *ngIf="rate.invalid && (rate.dirty || rate.touched)" class="label label-danger field-validation-error">

                <div *ngIf="rate.errors.required">
                  Rate is required.
                </div>

                <div *ngIf="rate.errors.pattern">
                  Rate should be only digits.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="cols-sm-2 control-label">Car Type</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <select class="form-control" required [(ngModel)]="addCarModel.car_type" name="car_type" #carType="ngModel">

                <option value="Mini">Mini</option>
                <option value="SUV">SUV</option>
                <option value="Tempo">Tempo</option>
              </select>

              <div *ngIf="carType.invalid && (carType.dirty || carType.touched)" class="label label-danger field-validation-error">

                <div *ngIf="carType.errors.required">
                  Car Type is required.
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label  class="cols-sm-2 control-label">Color</label>
          <div class="cols-sm-10">
            <div class="input-group">

              <input type="text" class="form-control" name="color" required pattern="^\s*[\w]+[\s\w\W]*$" [(ngModel)]="addCarModel.color"
                #color="ngModel" />
              <div *ngIf="color.invalid && (color.dirty || color.touched)" class="label label-danger field-validation-error">

                <div *ngIf="color.errors.required">
                  Color is required.
                </div>

                <div *ngIf="color.errors.pattern">
                  Color should be only digits.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group text-center">
          <button type="button" class="btn btn-success add-button" [disabled]="!addCar.valid || isProcessing" (click)="registerCar()">Register
            Car</button>
          <button type="button" class="btn btn-danger add-button" [routerLink]="['/cars']">Cancel </button>
        </div>
      </div>
      </div>

  </form>

  <form #completeForm="ngForm" *ngIf="isCompleted">

    <div>
      <table align="center" style="width: 100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td align="center" style="width: 90%; vertical-align: middle">
            <table align="center" style="width: 100%" cellspacing="0" cellpadding="0" border="0">
              <tr>
                <td colspan="2" style="height: 60px"></td>
              </tr>

              <tr>
                <td style="text-align:  center">
                  <img src="../assets/SuccessImg.png" style="border: 0; height: 70%" />
                </td>
              </tr>
              <tr>
                <td colspan="2" style="height: 20px"></td>
              </tr>
              <tr>
                <td class="TextStyle6" style="text-align: center">
                  Success !
                </td>
              </tr>
              <tr>
                <td colspan="2" style="height: 30px"></td>
              </tr>
              <tr>
                <td class="TextStyle5" style="text-align: center">
                  Car has been added successfully!
                </td>
              </tr>

              <tr>
                <td colspan="2" style="height: 30px"></td>
              </tr>
              <tr>
                <td style="text-align: center">
                  <button type="button" class="btn btn-primary" routerLink="/cars">
                    Close
                  </button>
                </td>
              </tr>
              <tr>
                <td colspan="2" style="height: 30px"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </form>

</div>
