<br />
<br />
<div class="container">
  <div class="row ">
    <div class="col-sm-3">
      <div class="card ">
        <img class="card-img-top" src="../assets/car.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Brezza</h4>
          <p class="card-text">Rate $6 per hour</p>
          <span>

            <a href="#" class="btn btn-warning width-100">Book</a>
            <a href="#" class="btn btn-primary">See Details</a>

          </span>
        </div>
      </div>

    </div>

    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="../assets/car.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Scorpio</h4>
          <p class="card-text">Rate $8 per hour</p>
          <span>

            <a href="#" class="btn btn-warning">Book</a>
            <a href="#" class="btn btn-primary">See Details</a>

          </span>
        </div>
      </div>
    </div>


    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="../assets/car.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Wagonr</h4>
          <p class="card-text">Rate $4 per hour</p>
          <span>

            <a href="#" class="btn btn-warning">Book</a>
            <a href="#" class="btn btn-primary">See Details</a>

          </span>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="../assets/car.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Baleno</h4>
            <p class="card-text">Rate $10 per hour</p>
            <span>
  
              <a href="#" class="btn btn-warning">Book</a>
              <a href="#" class="btn btn-primary">See Details</a>
  
            </span>
          </div>
        </div>
      </div>
  </div>
</div>
