
<div class="container m-t-50">
  <div class="row ">
    <div class="col-sm-3" *ngFor="let car of cars">
      <div class="card ">

        <img class="card-img-top" src="./assets/car.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{car.brand}}</h4>
          <p class="card-text text-info"><strong>${{car.rate}} per hour</strong> </p>
          <span>

            <button class="btn btn-warning width-100">Book</button>
            <button class="btn btn-primary" routerLink="/car-details/{{car._id}}">See Details</button>

          </span>
        </div>
      </div><br />

    </div>
  </div>
</div>
